<footer
  class="shadow bg-body-tertiary d-flex flex-column justify-content-center align-items-center bg-light-subtle"
>
  <div class="d-flex flex-column flex-md-row container justify-content-between">
    <div>
      <img src="/images/site/logo.png" alt="592 Fitness Logo" class="logo" />
    </div>
    <div id="f-contact">
      <p>info@extremefitness.gy</p>
      <p>+592-703-5543</p>
    </div>
    <div id="f-map">
      <a
        class="map"
        href="https://www.google.com/maps/@6.8082639,-58.1463006,17.25z?entry=ttu"
        target="_blank"
        >📌 Location</a
      >
      <p>Georgetown, Guyana.</p>
    </div>
  </div>
  <div id="info" class="container-fluid custom-background-primary text-light">
    <div
      class="container d-flex flex-column flex-md-row justify-content-center"
    >
      <p class="mb-2 mb-md-0 mb-md-0">© Extreme Fitness</p>
      <p class="mb-2 mb-md-0"><strong>Roberto Kippins</strong></p>
      <p class="mb-2 mb-md-0">WDD 330 Final Project</p>
      <p id="footerdate" class="mb-2 mb-md-0"></p>
    </div>
  </div>
</footer>

